# # Example .gitignore file for your config dir.
# # A * ensures that everything will be ignored.
*.*

# # You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.jpg
!*.png
!*.js
!*.html
!*.svg
!*.py
!*.css
# !travis*

# # Included folders.
!automation
!group
!include
!lovelace
!scene
!script
!sensors
!www

# # Ignore folders.
.storage
.cloud
.google.token
.vscode
node-red
insteon-mqtt

custom_components
people/
js/
ui/

# # Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
snapshot_*
